USE [master]
GO
/****** Object:  Database [SOCIOS_DB]    Script Date: 24/11/2021 21:39:28 ******/
CREATE DATABASE [SOCIOS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SOCIOS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SOCIOS_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SOCIOS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SOCIOS_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SOCIOS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SOCIOS_DB]
GO
/****** Object:  Table [dbo].[PROVINCIAS]    Script Date: 24/11/2021 21:39:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVINCIAS](
	[ID_PROVINCIA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
 CONSTRAINT [PK_PROVINCIAS] PRIMARY KEY CLUSTERED 
(
	[ID_PROVINCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOCIOS]    Script Date: 24/11/2021 21:39:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOCIOS](
	[ID_SOCIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[DNI] [varchar](50) NOT NULL,
	[SEXO] [varchar](50) NOT NULL,
	[COSTO_CUOTA] [float] NULL,
	[EDAD] [int] NOT NULL,
	[ESTA_ACTIVO] [bit] NULL,
	[ID_PROVINCIA] [int] NOT NULL,
	[FECHA_ALTA] [date] NOT NULL,
	[ES_COMPLETO] [bit] NOT NULL,
	[ID_TRIBUNA] [int] NULL,
	[CANT_DESCUENTO] [int] NULL,
 CONSTRAINT [PK_SOCIOS] PRIMARY KEY CLUSTERED 
(
	[ID_SOCIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PROVINCIAS] ON 

INSERT [dbo].[PROVINCIAS] ([ID_PROVINCIA], [NOMBRE]) VALUES (1, N'Buenos Aires')
INSERT [dbo].[PROVINCIAS] ([ID_PROVINCIA], [NOMBRE]) VALUES (2, N'Capital Federal')
INSERT [dbo].[PROVINCIAS] ([ID_PROVINCIA], [NOMBRE]) VALUES (3, N'Catamarca')
SET IDENTITY_INSERT [dbo].[PROVINCIAS] OFF
GO
ALTER TABLE [dbo].[SOCIOS]  WITH CHECK ADD  CONSTRAINT [FK_SOCIOS_SOCIOS] FOREIGN KEY([ID_PROVINCIA])
REFERENCES [dbo].[PROVINCIAS] ([ID_PROVINCIA])
GO
ALTER TABLE [dbo].[SOCIOS] CHECK CONSTRAINT [FK_SOCIOS_SOCIOS]
GO
USE [master]
GO
